<body>
  <form [formGroup]="medicalForm">
    <div class="box">

      <div class="form_container">
        <h4>COVERED PERSONS AND PREMIUM CALCULATION</h4>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">  
      
          
          <table class="borderless_table" formArrayName="quantities">  
            <tr>  
              <th colspan="2">Add Members details:</th>  
              <th width="150px"><button type="button" (click)="addQuantity()" class="btn btn-primary">Add More</button></th>  
            </tr>  
            <tr>
              <td><div class="input_box">
                <label>FirstName :</label></div></td>
              <td><div class="input_box">
                <label>FirstName :</label></div></td>
                <td><div class="input_box">
                  <label>FirstName :</label></div></td>
                  <td><div class="input_box">
                    <label>FirstName :</label></div></td>
                    <td><div class="input_box">
                      <label>FirstName :</label></div></td>
                      <td><div class="input_box">
                        <label>FirstName :</label></div></td>
                        <td><div class="input_box">
                          <label>FirstName :</label></div></td>
                          <td><div class="input_box">
                            <label>FirstName :</label></div></td>
                            <td><div class="input_box">
                              <label>FirstName :</label></div></td>
              
            </tr> 
            
            <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i"> 
           
             
              <td>  
                    <div class="input_box">
                  <input type="text" formControlName="FirstName" class="form-control" style="outline: none;">  
              </div>
              </td> 
              
              <td>  
                <div class="input_box">
                  <input type="text" formControlName="LastName" class="form-control">  
                  </div>
              </td>  
      
              <td>  
                <div class="input_box">
                <input type="text" formControlName="IdType" class="form-control">  
                </div>
            </td> 
            <td>  
              <div class="input_box">
              <input type="date" formControlName="DOB" class="form-control">  
              </div>
          </td> 
          <td>  
            <div class="input_box">
            <input type="number" formControlName="Age" class="form-control"> 
            </div> 
        </td> 
        <td>  
            
          <!-- <input type="text" formControlName="price" class="form-control">   -->
          <div class="input_box">
          <select formControlName="Gender" class="form-control">
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
          </div>
      </td> 
      <td>  
        
        <!-- <input type="text" formControlName="price" class="form-control">   -->
        <div class="input_box">
        <select formControlName="Relationship" class="form-control">
          <option>Spouse</option>
          <option>Daughter</option>
          <option>Son</option>
        </select>
        </div>
      </td> 
      <td>  
        <div class="input_box">
         <input type="number" formControlName="Premium" class="form-control">  
         </div>
        </td> 
        <td>  
          <div class="input_box">
         <input type="number" formControlName="IdNumber" class="form-control">  
         </div>
         </td> 
              <td>  
                  <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button>  
              </td>  
              
          </table>  
           
          <button type="submit" class="btn btn-success">Submit</button>  
            
        </form>  
        <!-- <table class="borderless_table"> -->
          <!-- <tr>
            <td>
              <div class="input_box">
                <input
                  formControlName='firstName'
                  type='text'
                  id='firstName'
                  required
                />
                 <div
                  *ngIf="
                    medicalForm.get('firstName')?.invalid &&
                    medicalForm.get('firstName').touched
                  "style="color: red"
                >
                  Please enter valid first Name input
                </div>
                <label for="">
                  First Name <span style="color: red">*</span>
                </label>
              </div>
            </td>
            
            <td>
              <div class="input_box">
                <input type="text" formControlName='last' required />

                <div
                  *ngIf="medicalForm.get('last')?.invalid && medicalForm.get('last').touched "style = "color: red"

                 >
                  Please enter valid Last Name input<span  style="color: red">*</span>
                </div>

                <label for="">
                  Last Name <span style="color: red">*</span>
                </label>
              </div>
            </td>

            
            <td>
              <div class="input_box">
                <input type="text" formControlName='idtype' required />

                <div
                  *ngIf="medicalForm.get('idtype')?.invalid && medicalForm.get('idtype').touched "style = "color: red"

                 >
                  Please enter valid Last Name input<span  style="color: red">*</span>
                </div>

                <label for="">
                  Id Type <span style="color: red">*</span>
                </label>
              </div>
            </td>
          </tr> -->



          <!-- <tr>
            <td>
              <div class="input_box">
                <input
                  formControlName="Dob"
                  onfocus="(this.type='date')"
                  type="text"
                  required
                />
                <label for="" class="date-label">
                  Date of Birth(Dob) <span style="color: red">*</span>
                </label>
                 <div
                  class="validation_popup"
                  *ngIf="
                    !medicalForm.get('Dob').valid &&
                    medicalForm.get('Dob').touched
                  "
                >
                  Please enter valid DOB
                </div>
              </div>
            </td>

            <td>
              <div class="input_box">
                <input
                  formControlName="age"
                  type="number"
                  id="username"
                  required
                />
                 <div
                  class="validation_popup"
                  *ngIf="
                    medicalForm.get('age').invalid &&
                    medicalForm.get('age').touched
                  "
                >
                  Please enter valid age
                </div>
                <label for="">
                  Age <span style="color: red">*</span>
                </label>
              </div>
            </td>
            <td>
              <div class="input_box">
                <input formControlName="PhoneNumber" required />
                <label for="">
                  Phone Number <span style="color: red">*</span>
                </label>
                <div
                  class="validation_popup"
                  *ngIf="
                    myReactiveForm.get('PhoneNumber').invalid &&
                    myReactiveForm.get('PhoneNumber').touched
                  "
                >
                  Please enter a valid mobile number
                </div>
              </div>
            </td>
            <td>
              <div class="input_box">
                <select formControlName="gender" class="select" name="as" id="jhg">
                  <option value="">Gender <span style="color: red">*</span></option>



                  <option value="">Male</option>
                  <option value="">Female</option>
                  <option value="">Transgender</option>
                </select>
                <select>
                <input type="radio" name="gender" value='Male' formControlName="gender" [(ngModel)]='gender'>Male
                <input type="radio" name='gender' value='Female' formControlName="gender" [(ngModel)]='gender'>Female

              </select>
              </div>
            </td>
          </tr> -->

          <!-- <td>
            <div class="input_box">
              <input
                formControlName="relationship"
                type="text"
                id="username"
                required
              />
               <div
                class="validation_popup"
                *ngIf="
                  medicalForm.get('relationship').invalid &&
                  medicalForm.get('relationship').touched
                "
              >
                Please enter valid Relationship
              </div>
              <label for="">
                Relationship with Employee <span style="color: red">*</span>
              </label>
            </div>
          </td> -->

          <!-- <td>
            <div class="input_box">
              <input
                formControlName="premium"
                type="number"
                id="username"
                required
              />
               <div
                class="validation_popup"
                *ngIf="
                  medicalForm.get('premium').invalid &&
                  medicalForm.get('premium').touched
                "
              >
                Please enter a valid premium
              </div>
              <label for="">
                Premium <span style="color: red">*</span>
              </label>
            </div>
          </td> -->

          <!-- <td>
            <div class="input_box">
              <input
                formControlName="idnumber"
                type="text"
                id="username"
                required
              />
               <div
                class="validation_popup"
                *ngIf="
                  medicalForm.get('idnumber').invalid &&
                  medicalForm.get('idnumber').touched
                "
              >
                Please enter a valid premium
              </div>
              <label for="">
                Id Number <span style="color: red">*</span>
              </label>
            </div>
          </td> -->

          <!-- <tr>
            <td>
              <div class="input_box">
                <input formControlName="Email" required />
                <label for="">
                  Email Address <span style="color: red">*</span>
                </label>
                <div
                  class="validation_popup"
                  *ngIf="
                    myReactiveForm.get('Email')?.invalid &&
                    myReactiveForm.get('Email')?.touched
                  "
                >
                  Please enter a valid Email Address
                </div>
              </div>
            </td>
          </tr> -->



        
        <!-- </table> -->


      </div>





<!-- Medical history  -->

    <form>

      <h4>MEDICAL HISTORY</h4>
      <div class="div1">
        <div class="div2">
          <p>Does any of the Covered Person have any serious pre-exsiting physical or mental
            <br>conditions?
          </p><br>
        </div>
        <div class="div3" for="medicalj">
          <input  type="text"  name="medicalHistoryDetails" formControlName="medicalHistoryDetails" placeholder="If yes, please specify"  >
          <!-- <label>If yes, please specify</label> -->
        </div>
      </div>
      <label for="yes">
        <input type="radio" id="yes" name="isHaveMedicalHistory" value="true" formControlName="isHaveMedicalHistory"  (click)="toggle($event)"/>Yes</label>



      <label for="no"><input type="radio" id="no" name="isHaveMedicalHistory" value="false" formControlName="isHaveMedicalHistory"  >No</label><br>
      <h4>WAIVER OF INSURANCE COVERAGE</h4>
      <p>I DECLINE to apply for Group Health Insurance coverage because of <input type="radio" id="spouse" name="insuranceWaiverType"
          value="spouse"formControlName="insuranceWaiverType">
        <label for="spouse">Spousal Coverage</label>
      </p><br>
      <input type="radio" id="indi" name="insuranceWaiverType" value="indi"formControlName="insuranceWaiverType">
      <label for="indi">Individual Coverage</label>
      <input type="radio" id="other" name="insuranceWaiverType" value="other"formControlName="insuranceWaiverType">
      <label for="other">Other</label><br><br>

      <label for=" check"><input type="checkbox" id="check" name="check" value="check">I understand that this waiver of coverage may affect the ability to obtain coverage at a later
        date.</label>

      <h4 class="gn">CONDITIONS OF ENROLLMENT</h4>
      <!-- <form class="form2"> -->
        <label class="L1" for="one">
          <input type="checkbox" id="one" name="one" value="one">
          I UNDERSTAND that providing false, incomplete, inaccurate or incorrect information to any of the questions on
          this Enrollment Form may be considered insurance fraud and may result in denial or cancellation of coverage.
        </label><br>


        <label for="two">
          <input type="checkbox" id="two" name="two" value="two">
          I HEREBY AUTHORIZE Jocata to make any required payroll deductions for this coverage and I understand that once
          enrolled I cannot remove myself or any covered person until the next enrollment period (unless death or
          divorce).</label><br>


        <label for="three">
          <input type="checkbox" id="three" name="three" value="three">
          I UNDERSTAND that Jocata does not provide any additional company-sponsored medical insurance. Insurance
          terminated on an employee's last working day.
        </label><br>


        <label for="four">
          <input type="checkbox" id="four" name="four" value="four">
          I CERTIFY that the information provided herein is true and correct.
        </label><br>




        <label for="five">
          <input type="checkbox" id="five" name="five" value="five">
          I UNDERSTAND the enrollment details and restrictions in the SBI Policy and SBI Employee Benefits Manual.
        </label><br>


        <label for="six">
          <input type="checkbox" id="six" name="six" value="six">
          I UNDERSTAND that this is an application only. No right is given to me or any person listed on this application
          until SBI General Insurance Company accepts me/us and premiums are paid.
        </label><br>


        <label for="seven">
          <input type="checkbox" id="seven" name="seven" value="seven">I AGREE that if I or a family member has a medical
          issue which is serious in nature I will coordinate with Admin and SBI regarding coverage before confirming
          enrollment.
        </label><br>



        <label for="eight">
          <input type="checkbox" id="eight" name="eight" value="eight">I ACKNOWLEDGE that the Medical History section of
          this Enrollment Form is true and complete for me and for each person applying for coverage. Each person applying
          for coverage is in good health, except for those conditions listed.
        </label><br>

        <h4 class="gn">SIGNATURE OF ENROLLING EMPLOYEE</h4>

        <div>

        <label for="checkbox"><input type="checkbox" id="check" name="checkbox">I understandand agree that the coverage I/we am/ are applying for is subject to the group eligibility and enrollment requirements. I have read the conditions of the Enrollment. I understand and agree to them.</label>
      </div><br>

      <!-- <div class="div4">
       <input type="date" id="d" name="d">
       <label for="date">Date</label>
  </div> -->

  <div class="input_box">
    <!-- <input
      formControlName="DOB"
      onfocus="(this.type='date')"
      type="text"
      required
    /> -->
    <!-- <input type="date" style="width: 500px;" formControlName="date"
    onfocus="(this.type='date')"
    type="text"
    required>
    <label for="" class="date-label">
      Date <span style="color: red">*</span>
    </label>
    <div
                  class="validation_popup"
                  *ngIf="
                    !medicalForm.get('Date').valid &&
                    medicalForm.get('Date').touched
                  "
                >
                  Please enter valid date
                </div>  -->
                <div class="input_box prc">
                  <input
                    formControlName="date"
                    onfocus="(this.type='date')"
                    type="text"
                    required
                  />
                  <label for="" class="date-label">
                    Date  <span style="color: red">*</span>
                  </label>
                   <div
                    class="validation_popup"
                    *ngIf="
                      !medicalForm.get('date').valid &&
                      medicalForm.get('date').touched
                    "
                  >
                    Please enter valid Date
                  </div>
                </div>

              </div>

  </form>

<!-- </form> -->
<!-- save exit and save&continue buttons -->
</div>
  <div class="buttons">
    <div id="box2">
      <button  class="exit">EXIT</button>
      <button (click)="savemedical()" class="save">SAVE</button>
      &nbsp;
      <button class="continue">SAVE & CONTINUE</button>
    </div>

    </div>
    </form>
  </body>
